<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main class="main">
  <autocomplete-simple-example></autocomplete-simple-example>
  <br>
  <br>
  <br>
  <hr>
  
  <autocomplete-require-selection-example></autocomplete-require-selection-example>
  <br>
  <br>
  <br>
  <hr>

  <badge-overview-example></badge-overview-example>
  <br>
  <br>
  <br>
  <hr>

  <bottom-sheet-overview-example></bottom-sheet-overview-example>
  <br>
  <br>
  <br>
  <hr>

  <button-overview-example></button-overview-example>
  <br>
  <br>
  <br>
  <hr>

  <button-toggle-mode-example></button-toggle-mode-example>
  <br>
  <br>
  <br>
  <hr>

  <card-fancy-example></card-fancy-example>
  <br>
  <br>
  <br>
  <hr>

  <chips-reactive-form-example></chips-reactive-form-example>
  <br>
  <br>
  <br>
  <hr>

  <datepicker-custom-header-example></datepicker-custom-header-example>
  <br>
  <br>
  <br>
  <hr>

  <dialog-content-example></dialog-content-example>
  <br>
  <br>
  <br>
  <hr>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
